.cardContainer {
  @include respond(phone) {
    position: relative;
    transform: translateX(-100%);
    transition: all 1s ease-out;
    opacity: 0;
    width: 95%;
    height: 5%;
    margin: 2%;
    padding-left: 10px;
    cursor: pointer;
    background-color: rgb(58, 58, 202);
    color: white;
  }
  &:hover { background-color: rgb(8, 8, 107)}
  .exercises-name {
    height: 30px;
    margin-bottom: 0;
  }
}
