.programLisItemSelectContainer {
  width: 48%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  & .programExerciseData {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    padding-bottom: 10%;
    & p {
      width: 100%;
      @include flexCenter;
    }
  }
}

.programList-item {
  @include flexSpaceBetween;
}