.programMainContainer {
  display : flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  min-width: 300px;
  @include respond(tab-port){
    min-height: 400px;
  }
  @include respond(phone){
    justify-content: center;
  }
}

.exercisesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

